@import '../../scss/variables';
@import '../../scss/typography';

.order-confirmed {
  &__info {
    &--title {
      margin-bottom: $space-md;
      @extend %heading24;
      font-family: 'RobotoRegular';
      font-weight: 400;
      color: $primary-color;
    }
  }

  @media (max-width: getBreackpoint('lg')) {
    &__info {
      &--title {
        font-size: 22px;
      }
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    &__info {
      &--title {
        margin-bottom: $space-sm;
        font-size: 20px;
      }
    }
  }
}