@import '../../scss/variables';
@import '../../scss/mixins';

.pagination {
  &__button {
    font-size: 15px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: $blue-color;
  }

  &__dots {
    max-width: 21px;
    letter-spacing: 2px;
    color: $blue-color;
  }
}

.ant-pagination-jump-next, .ant-pagination-jump-prev {
  min-width: auto;
}

.ant-pagination-disabled {
  & > * {
    color: $grey-strong-color;
  }
}

.ant-pagination-prev {
  min-width: 22px;
  margin-right: 0;
}

.ant-pagination-item {
  min-width: auto;
  width: 25px;
  margin-right: 2px;
  border: none;
  font-size: 15px;
  font-family: 'Helvetica', 'Arial', sans-serif;

  a {
    min-width: auto;
    color: $blue-color;
    padding: 0;
    line-height: 32px;
  }
}

.ant-pagination-item-active {
  z-index: $layer-1;

  a {
    position: relative;
    padding: 0;
    z-index: $layer-1;
    color: $white-color;

    &:hover {
      color: $white-color;
    }

    &:after {
      content: '';
      width: 23px;
      height: 23px;
      @include abs-position(50%, auto, auto, 52%);
      transform: translate(-51%, -50%);
      border-radius: 50%;
      z-index: -1;
      background-color: $blue-color;
    }
  }
}