@import '../../../scss/variables';
@import '../../../scss/typography';

.step-three {
  &__left {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: $space-md;
    font-family: 'RobotoLight';
    font-weight: 300;
    @extend %heading14;
    color: $primary-color;

    &:not(:first-child) {
      margin-top: $space-xl;
    }
  }

  .ant-spin-nested-loading > div > .ant-spin {
    max-height: auto;
    height: auto;
    top: 50%;
  }

  @media (max-width: getBreackpoint('sm')) {
    &__title {
      margin-bottom: $space-sm;

      &:not(:first-child) {
        margin-top: $space-xl;
      }
    }
  }
}