@import '../../../scss/variables';

.radio-buttons-form {
  display: flex;
  flex-wrap: wrap;

  &-vertical {
    flex-direction: column;
  }

  & > * {
    &:not(:last-child) {
      margin-right: $space-md;
    }
  }
}