@import '../../../scss/variables';

.step-two {
  overflow: hidden !important;

  &__left {
    height: 100%;

    &--form {
      margin-bottom: 50px;
    }

    &--list {
      padding-bottom: $space-sm;
    }

    &--pagination {
      margin-top: $space-sm;
      margin-bottom: $space-md;
    }
  }

  .ant-spin-nested-loading > div > .ant-spin {
    max-height: 100%;
    height: auto;
    top: 50%;
  }

  @media (max-width: getBreackpoint('lg')) {
    overflow: auto !important;

    &__left {
      &--list {
        padding-bottom: 0;
      }
    }
  }

  @media (max-width: getBreackpoint('md')) {
    &__left {
      height: 100%;
  
      &--form {
        margin-bottom: 40px;
      }
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    &__left {
      height: 100%;
  
      &--form {
        margin-bottom: 20px;
      }

      &--pagination {
        margin-bottom: $space-sm;
      }
    }
  }
}