@import '../../../scss/variables';
@import '../../../scss/typography';

%cart-item-properties {
  width: 100% ;
  max-width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: $space-md;
  cursor: pointer;
}

.car-item {
  @extend %cart-item-properties;
  border: 1px solid $grey-color;

  &:hover {
    transition: $transition-sm;
    border: 1px solid $grey-strong-color;
  }

  &-selected {
    @extend %cart-item-properties;
    border: 1px solid $primary-accent-color;
  }

  &__header {
    display: flex;
    flex-direction: column;

    &--title {
      max-width: 330px;
      margin-bottom: 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @extend %heading18;
      font-family: 'RobotoRegular';
      color: $primary-color;
    }
  }

  &__image-wrapper {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    &--image {
      width: 256px;
      height: auto;
      min-width: 120px;
    }
  }

  @media (max-width: 1200px) {
    padding: $space-sm;

    &-selected {
      padding: $space-sm;
    }

    &__image-wrapper {
      &--image {
        width: 75%;
      }
    }
  }

  @media (max-width: getBreackpoint('lg')) {
    &__header {
      &--title {
        font-size: 15px;
      }
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    &__header {
      &--title {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 17px;
      }
    }

    &__image-wrapper {
      &--image {
        width: 70%;
      }
    }
  }

  @media (max-width: getBreackpoint('vsm')) {
    padding: 4px;

    &__header {
      &--title {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 17px;
      }
    }

    &-selected {
      padding: $space-sm - 4px;
    }

    &__image-wrapper {
      &--image {
        min-width: 90px;
      }
    }
  }
}