@import '../../../scss/variables';
@import '../../../scss/typography';
@import '../../../scss/mixins';

.search-location-form {
  display: inline-block;

  &__form-wrapper {
    @include flex-align-center;
    justify-content: flex-end;

    label {
      margin-right: $space-sm;
      font-family: 'RobotoLight';
      @extend %heading14;
      color: $primary-color;
    }
  }
}