@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

%checkbox-properties {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  @include abs-position(50%, auto, auto, 0);
  transform: translateY(-50%);
}

.radio-button-primary {
  [type="radio"]{
    opacity: 0;
    display: none;
  }
  
  [type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 17px;
    cursor: pointer;
    user-select: none;
    font-family: 'RobotoLight';
    font-weight: 300;
    @extend %heading14;
    color: $grey-strong-color;
  }

  [type="radio"]:checked + label {
    cursor: pointer;
    transition: all .2s linear;
    color: $primary-color;
  }
  
  [type="radio"] + label::before {
    content:"";
    @extend %checkbox-properties;
    background: transparent;
    border: 1px solid $grey-strong-color;
  }
  
  [type="radio"]:checked + label::after {
    content:"";
    @extend %checkbox-properties;
    border: 3px solid $primary-accent-color;
  }

  @media (max-width: getBreackpoint('sm')) {
    [type="radio"] + label {
      font-size: 13px;
    }
  }
}