@import '../../scss/variables';
@import '../../scss/mixins';

.order-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: $aside-width 1fr;
  overflow: hidden;

  &__main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 100px 50px 1fr;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;

    &--left {
      flex: 1;
    }

    &--right {
      flex: 2;
    }

    &--title {
      font-family: 'RobotoLight';
      font-size: 14px;
      line-height: 16px;
      color: $primary-color;
    }

    &--map {
      width: 735px;
      height: 350px;
      padding: $space-xl 0;
    }
  }

  &__menu {
    z-index: $layer-max;
    @include fix-position(24px, auto, auto, 16px);
  }
}