@import '../../scss/variables';
@import '../../scss/typography';
@import '../../scss/mixins';

.order-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: $aside-width 1fr;
  overflow-y: auto;
  overflow-x: hidden;

  &__tabs {
    width: 100%;
  }

  &__header {
    display: flex;
  }

  &__main {
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    grid-template-rows: 100px 1fr;
  }

  .ant-tabs-nav-wrap {
    border-top: 1px solid $grey-color;
    border-bottom: 1px solid $grey-color;
  }

  .ant-tabs-content {
    height: 100%;
  }

  .ant-tabs-nav {
    margin: 0;

    &:before {
      border: none;
    }
  }

  .ant-tabs-nav-list {
    flex-wrap: wrap;
    @extend %container;
  }

  .ant-tabs-tab {
    margin-right: 38px !important;
    padding: $space-sm 0 !important;
    background: transparent !important;
    border: none !important;
    font-family: 'RobotoBold';
    font-size: 14px;
    line-height: 16px;
    color: $grey-strong-color;

    &:not(:first-child) {
      &:after {
        content: '';
        @include abs-position(50%, auto, auto, -23px);
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent $grey-strong-color; 
      }
    }
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $primary-accent-color;
  }

  @media (max-width: getBreackpoint('md')) {
    .ant-tabs-nav-list {
      flex-wrap: wrap;
    }

    .ant-tabs-tab {
      padding: 6px 0 !important;
      font-size: 13px;
      line-height: 15px;
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    grid-template-columns: 1fr;

    &__header {
      display: block;
    }

    &__aside {
      display: none;
    }
  }
}