@import '../../scss/variables';
@import '../../scss/typography';

.language-picker {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  text-align: center;

  &__title {
    color: $primary-accent-color;
    text-transform: capitalize;
    font-family: 'RobotoBold';
    @extend %heading13;
  }
}