@import '../../scss/variables';

.language-picker {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  text-align: center;

  &__title {
    color: $primary-accent-color;
    text-transform: capitalize;
    font-family: 'RobotoBold';
    font-size: $font-size-1;
    line-height: $line-height-1;
  }
}