@import '../../../../scss/variables';
@import '../../../../scss/typography';

.car-price {
  @extend %heading14;
  font-family: 'RobotoRegular';
  color: $grey-strong-color;

  &__separator {
    margin: 0 4px;
  }

  @media (max-width: getBreackpoint('lg')) {
    font-size: 14px;
  }

  @media (max-width: getBreackpoint('md')) {
    font-size: 12px;
  }

  @media (max-width: getBreackpoint('sm')) {
    font-size: 11px;
  }
}