@import '../../scss/typography';
@import '../../scss/variables';

%bread-title {
  cursor: pointer;
  font-family:'RobotoBold';
  @extend %heading14;
}

.breadcrumb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  padding: 4px 0;

  &__item {
    @extend %bread-title;
    color: $grey-strong-color;

    &-active {
      @extend %bread-title;
      color: $primary-accent-color;
    }

    &:hover {
      opacity: .9;
    }

    &__wrapper {
      text-align: left;
      padding: 4px 0;

      &--arrow {
        margin: 16px;
      }
    }
  }

  @media (max-width: getBreackpoint('md')) {
    %bread-title {
      font-size: 13px;
    }
  }

  @media (max-width: getBreackpoint('vsm')) {
    padding: 4px 0;
  }
}