@import '../../scss/variables';
@import '../../scss/typography';

.main-article {
  &__title {
    @extend %heading70;
    font-family: 'RobotoBold';
    color: $primary-color;

    span {
      color: $primary-accent-color;
    }
  }

  &__text {
    margin-top: $space-lg;
    margin-bottom: $space-xxl;
    font-family: 'RobotoLight';
    @extend %heading26;
    color: $grey-strong-color;
  }

  &__button {
    width: 250px;
  }

  @media (max-width: 910px) {
    &__button {
      width: 100%;
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    &__title {
      padding: 0 $space-md;
      font-size: 30px;
      line-height: 30px;
    }

    &__text {
      margin-top: $space-md;
      margin-bottom: $space-xl;
      padding: 0 $space-md;
      font-size: 18px;
      line-height: 21px;
    }

    &__button {
      width: 100%;
    }
  }
}