@import '../../../scss/typography';
@import '../../../scss/variables';

.step-four {
  &__left {
    display: flex;

    &--info {
      width: 100%;
      max-width: 480px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: $space-sm;
  }

  @media (max-width: getBreackpoint('lg')) {
    &__left {
      justify-content: space-between;
    }
  }

  @media (max-width: getBreackpoint('vsm')) {
    &__left {
      flex-wrap: wrap;
      flex-direction: column;

      &--info {
        margin-bottom: $space-sm;
      }
    }
  }
}