@import '../../../scss/variables';

.step-one {
  &__left {
    &--title {
      font-family: 'RobotoLight';
      font-size: 14px;
      line-height: 16px;
      color: $primary-color;
      margin-top: $space-xl;
      margin-bottom: $space-md;
    }

    &--map {
      width: 736px;
      height: 352px;
    }
  }

  @media (max-width: 1250px) {
    &__left {
      &--map {
        width: 656px;
      }
    }
  }

  @media (max-width: 1150px) {
    &__left {
      &--map {
        width: 556px;
      }
    }
  }

  @media (max-width: getBreackpoint('lg')) {
    flex-direction: column;

    &__left {
      &--map {
        width: 100%;
        height: 300px;
      }
    }
  }

  @media (max-width: getBreackpoint('md')) {
    &__left {
      &--map {
        height: 260px;
      }
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    &__left {
      &--map {
        height: 240px;
      }
    }
  }

  @media (max-width: getBreackpoint('vsm')) {
    &__left {
      &--map {
        height: 210px;
      }
    }
  }
}