@import '../../../scss/variables';
@import '../../../scss/typography';

%cart-item-properties {
  width: auto;
  max-width: 370px;
  padding: $space-md;
  cursor: pointer;
}

.car-item {
  @extend %cart-item-properties;
  border: 1px solid $grey-color;

  &:hover {
    transition: $transition-sm;
    border: 1px solid $grey-strong-color;
  }

  &-selected {
    @extend %cart-item-properties;
    border: 1px solid $primary-accent-color;
  }

  &__header {
    display: flex;
    flex-direction: column;

    &--title {
      margin-bottom: 2px;
      @extend %heading18;
      font-family: 'RobotoRegular';
      color: $primary-color;
    }
  }

  &__image-wrapper {
    display: flex;
    justify-content: flex-end;

    &--image {
      width: 100%;
      max-width: 256px;
      min-width: 100px;
      height: auto;
    }
  }

  @media (max-width: 1160px) {
    padding: $space-sm;

    &-selected {
      padding: $space-sm;
    }

    &__image-wrapper {
      &--image {
        width: 80%;
      }
    }
  }

  @media (max-width: getBreackpoint('lg')) {
    &__header {
      &--title {
        font-size: 16px;
      }
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    &__header {
      &--title {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  @media (max-width: getBreackpoint('vsm')) {
    padding: $space-sm - 4px;

    &-selected {
      padding: $space-sm - 4px;
    }
  }
}