@import '../../scss/variables';
@import '../../scss/typography';

.phone-number {
  @extend %text-small;
  transition: $transition-sm;
  color: inherit;

  &:hover {
    color: $primary-accent-color;
  }
}