@import '../../../scss/typography';
@import '../../../scss/variables';
@import '../../../scss/mixins';

.price-range {
  @include flex-align-center;

  &__title {
    @extend %heading16;
    font-family: 'RobotoMedium';
    font-weight: 500;
    color: $primary-color;
  }

  &__price {
    display: flex;
    @extend %heading16;
    font-family: 'RobotoRegular';
    font-weight: 400;
    @extend %heading16;
    color: $primary-color;
  }
}