@import '../../../scss/variables';

.step-two {
  &__left {
    height: 100%;

    &--form {
      margin-bottom: 50px;
    }
  }

  @media (max-width: getBreackpoint('md')) {
    &__left {
      height: 100%;
  
      &--form {
        margin-bottom: 40px;
      }
    }
  }

  @media (max-width: getBreackpoint('sm')) {
    &__left {
      height: 100%;
  
      &--form {
        margin-bottom: 30px;
      }
    }
  }
}