@import '../../scss/variables';

.cars-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media (max-width: 1250px) {
    grid-template-columns: 340px 340px;
  }

  @media (max-width: 1160px) {
    grid-template-columns: 285px 285px;
  }

  @media (max-width: getBreackpoint('lg')) {
    grid-template-columns: 33% 33% 33%;
    max-height: 390px;
  }

  @media (max-width: getBreackpoint('md')) {
    grid-template-columns: 50% 50%;
    max-height: 360px;
  }

  @media (max-width: getBreackpoint('sm')) {
    max-height: 350px;
  }

  @media (max-width: getBreackpoint('vsm')) {
    max-height: 280px;
  }
}

.cars__row {
  display: flex;
  width: 100%;
}