@import '../../../scss/typography';
@import '../../../scss/variables';

.button-primary {
  @extend %button-rules;

  width: 100%;
  height: 50px;
  border-radius: 8px;
  transition: $transition-sm;
  outline: none;
  user-select: none;
  border: none;
  @extend %heading18;
  font-family: 'RobotoMedium';
  color: $white-color;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);

  @media (max-width: getBreackpoint('sm')) {
    width: 100%;
    height: 50px;
    border-radius: 0;
  }
}