@import '../../../scss/typography';
@import '../../../scss/variables';

.button-primary {
  width: 250px;
  height: 50px;
  border-radius: 8px;
  transition: $transition-sm;
  outline: none;
  user-select: none;
  border: none;
  @extend %heading18;
  font-family: 'RobotoMedium';
  color: $white-color;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);

  &:hover {
    opacity: .9;
  }
}