@import '../../scss/variables';
@import '../../scss/typography';

.footer {
  display: flex;
  justify-content: space-between;

  &__text {
    @extend %text-small;
    color: $grey-strong-color;
  }
}