@import '../../../scss/variables';

.order-info {
  &__title {
    text-align: end;
    margin-bottom: $space-lg;
    font-family: 'RobotoMedium';
    font-size: 18px;
    line-height: 21px;
  }

  &__price-range {
    margin-top: 24px;
  }

  &__button {
    width: 100%;
    margin-top: $space-lg;
  }
}