@import '../../../scss/variables';
@import '../../../scss/typography';
@import '../../../scss/mixins';

.slider-article {
  width: 495px;
  @include abs-position(42%, auto, auto, 50%);
  transform: translate(-50%, -42%);

  &__title {
    margin-bottom: $space-sm;
    @extend %heading40;
    font-family: 'RobotoMedium';
    color: $white-color;
  }

  &__text {
    margin-bottom: 32px;
    font-family:'RobotoLight';
    @extend %heading24;
    color: $grey-color;
  }

  @media (max-width: getBreackpoint('xl')) {
    width: 400px;
  }

  @media (max-width: 1060px) {
    width: 300px;
  }

  @media (max-width: getBreackpoint('lg')) {
    width: 280px;

    &__title {
      font-size: 32px;
      line-height: 35px;
    }

    &__text {
      font-size: 22px;
    }
  }
}