@import '../../../scss/variables';
@import '../../../scss/typography';
@import '../../../scss/mixins';

.slider-article {
  width: 495px;
  @include abs-position(40%, auto, auto, 50%);
  transform: translate(-50%, -40%);

  &__title {
    margin-bottom: $space-small;
    @extend %heading40;
    font-family: 'RobotoMedium';
    color: $white-color;
  }

  &__text {
    margin-bottom: 32px;
    font-family:'RobotoLight';
    @extend %heading24;
    line-height: 22px;
    color: $grey-color;
  }

  @media (max-width: 1300px) {
    width: 400px;
  }

  @media (max-width: 1060px) {
    width: 300px;
  }

  @media (max-width: getBreackpoint('lg')) {
    width: 280px;
    @include abs-position(50%, auto, auto, 50%);
    transform: translate(-50%, -50%);

    &__title {
      font-size: 32px;
      line-height: 35px;
    }

    &__text {
      font-size: 22px;
      line-height: 24px;
    }
  }

  @media (max-width: 910px) {
    &__title {
      font-size: 30px;
    }

    &__text {
      font-size: 20px;
      line-height: 26px;
    }
  }
}