@import './variables';

%heading70 {
  font-family: 'RobotoBold';
  font-size: $font-size-70;
  line-height: $line-height-65;
}

%heading26 {
  font-family: 'RobotoBold';
  font-size: $font-size-26;
  line-height: $line-height-30;
}

%heading30 {
  font-family: 'RobotoBold';
  font-size: $font-size-30;
  line-height: $line-height-35;
}

%heading18 {
  font-size: $font-size-18;
  line-height: $line-height-21;
}

%text-small {
  text-decoration: none;
  font-size: $font-size-13;
  line-height: $line-height-15;
}