@import './variables';

%heading70 {
  font-family: 'RobotoBold';
  font-size: $font-size-70;
  line-height: $line-height-65;
}

%heading24 {
  font-size: $font-size-24;
  line-height: $line-height-21;
}

%heading26 {
  font-family: 'RobotoBold';
  font-size: $font-size-26;
  line-height: $line-height-30;
}

%heading32 {
  font-size: $font-size-32;
  line-height: $line-height-37;
}

%heading30 {
  font-family: 'RobotoBold';
  font-size: $font-size-30;
  line-height: $line-height-35;
}

%heading40 {
  font-size: $font-size-40;
  line-height: $line-height-46;
}

%heading18 {
  font-size: $font-size-18;
  line-height: $line-height-21;
}

%heading14 {
  font-size: $font-size-14;
  line-height: $line-height-16;
}

%text-small {
  text-decoration: none;
  font-size: $font-size-13;
  line-height: $line-height-15;
}