// Colors 
$primary-accent-color: #0EC261;
$primary-color: #121212;
$grey-color: #EEEEEE;
$grey-strong-color: #999999;

// Breakpoints
$grid-breakpoints: (
  tiny: 320px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);